html {
    text-size-adjust: 100%;
}

.logo {
    height: 1.5em;
    padding: 10px 10px;
}

.topnav a {
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    margin: auto;
    padding: 14px 14px;
    text-decoration: none;
}

.topnav {
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
}

.catphotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.catphotos img{
  border: 2px solid #dcdcdc;
  margin: 15px;
  padding: 20px;
}

.box {
  border-bottom: 1px solid #050505; 
}

.numbers {
  color: #777;
}
.description{
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

body {
    margin: 0;
    font: 16px helvetica,arial,sans-serif;
    font-weight: bold;
    line-height: 1.4em;
}
@media (max-width: 736px) {

}
